@font-face {
  font-family: head;
  src: url("font/Oswald.ttf");
}
@font-face {
  font-family: light;
  src: url("font/Oswald-light.ttf");
}
  
@font-face {
  font-family: hand;
  src: url("font/Italic.ttf");
}
@font-face {
  font-family: sans;
  src: url("font/Courgette-Regular.ttf");
}
body{

  max-width: 100vw;
}
header{
  height: 100vh;
}
.heading{
  color:white;
  font-size: 3.2rem;
  font-family: sans;
  animation-name: flash;
  animation-duration: 4s;

}
.cite{
  opacity: 0;
  transition: all 4s;
}
.subHeading{
  font-family: head;
  color: white ;
  font-style: 2rem;
}
.logo{
  width: 7%;
}
.paragraph{
  color:white;
  font-family: hand;
  text-align: left;
  font-size: 0.9rem;
  border-left-style: solid;
  border-bottom-style: solid;
  border-radius:5px ;
}
#company{
  font-family: head;
  text-align: center;
  font-size: 5rem;
  text-shadow: grey;
  color: transparent;
  background-image: url("imgs/text.jpg");
  background-clip:text;
  -webkit-background-clip: text;
  background-size: cover;
  aspect-ratio:16/4;
}
#comments{
  border-left-width: 5px;
  border-left-style: solid;
  border-color: lightblue;
  font-size: 0.3rem;
  font-family: hand;
  color: white;
  background: transparent;
  
}
img{
  width: 100vw;
  ;
}

/* scroll animation.box.*/
.show{
  
  opacity: 1;
  
}

@keyframes flash
{
  from{
    font-size: 1.0rem;
  }
  to{
    font-style: 3.2rem;
  }
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
}